<div class="team-section">
  <div class="team-cards">
    <div class="team-card">
      <img
        src="{{ teamMember()?.profile_image }}"
        alt="{{ teamMember()?.id }}"
        class="profile-img"
      />
      <div class="card-content">
        <h3>{{ teamMember()?.name }}</h3>
        <p>{{ teamMember()?.role }}</p>
        <div class="social-icons">
          @for( socialMediaLink of teamMember()?.social_media_links; track socialMediaLink){
            <a href="{{ socialMediaLink.url }}" target="_blank">
             <span>{{ socialMediaLink.platform }}</span>
            </a>
          }
          <!-- <i class="fa-brands fa-github"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin-in"></i> -->
        </div>
      </div>
    </div>
  </div>
</div>
