@use '../src/styles/reset' as *;
@use '../src/styles/variables' as *;
@use '../src/styles/mixins' as *;

// import poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    font-family: var(--font-poppins);
    
}
html, body { height: 100%; }
body { margin: 0; font-family:"Poppins", "Helvetica Neue", sans-serif; }
