<app-mobile-admin-menu
  class="scroll-aware-menu"
  [menuItems]="menuItems"
></app-mobile-admin-menu>
<app-header></app-header>
<div class="episodes-page">
  <h2 class="page-title">🎙️ Latest Podcast Episodes</h2>

  <div *ngIf="loading()" class="status loading">Loading...</div>
  <div *ngIf="error()" class="status error">{{ error() }}</div>

  <div *ngIf="!loading() && episodeService.episodes()" class="episode-grid">
    <a
      *ngFor="let episode of episodeService.episodes()"
      class="episode-card"
      [routerLink]="['/episodes', episode.id]"
      style="text-decoration: none; color: inherit"
    >
      <app-episode-card [episode]="episode"></app-episode-card>
    </a>
  </div>
  <div class="paginator-container" *ngIf="!loading()">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="episodeService.episodes().length || 15"
      [rowsPerPageOptions]="[5, 10, 15]"
    />
  </div>

  <div
    *ngIf="!loading() && episodeService.episodes().length === 0"
    class="status empty"
  >
    No episodes available at the moment.
  </div>
</div>
